<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>3T - BMA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="./static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">3T</a>
      </div>
    </div>
    </div>

    <div class="container">
      <form action="/viewBMAList" method="POST">
      <select name="viewBMAList">
        <% for(var i = 0 ; i < rows.length ; i++) { %>
          <option value="<%= rows[i].organization %>"><%= rows[i].organization %> (<%= rows[i].count %>)</option>
        <% } %>
      </select>
      <input type="submit" class="btn btn-primary" value="Voir les fiches" />
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        $('#example').DataTable({
          "info":     false,
          "searching" : false,
          "language": {
            "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
          },
          "columns": [
            { "orderable": false },
            null,
            null,
            { "orderable": false },
            { "orderable": false },
            { "orderable": false },
            { "orderable": false },
            { "orderable": false },
            { "orderable": false },
            null,
            null
          ]
        });
      });
    </script>

  </body>
</html>
